/* .artContent {
} */

.artContent__box {
  height: 100%;
}

.price {
  margin-top: -40px;
}

@media (max-width: 768px) {
  .artContent {
    margin-bottom: 20px;
  }
  .price {
    margin-top: unset;
  }
}
