.arthome {
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  background-origin: border-box;
  background-attachment: fixed;
}

@media (max-width: 768px) {
  .arthome {
    background-attachment: unset;
  }
}
