.header {
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.header__link{
    float: right;
    margin-right: 30px;
}

.header__menu {
    color: snow;
    text-decoration: none;
    padding: 10px 40px;
    width: 80px;
    font-size: 20px;
}

.header__menu:hover {
    color: salmon;
}

@media (max-width:768px){
    .header {
        width: 100%;
        flex-direction: column;
        background-color: steelblue;
    }
    .header__link {
        flex-direction: column;
        float: none;
        margin-right: unset;
    }

    .header__menu {
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0;
        color: white;
    }

    .header__menu:hover {
        color: black;
        border-bottom: unset;
    }
}

.header__container{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.header__container a {
    font-size: 50px;
    font-weight: 700;
    color: rgba(255,255,255,.75);
    text-decoration: none;
}

@media (max-width:768px){
    .header__container a {
        font-size: 30px;
        color: grey;
        margin-top: 250px;
    }
}
