.home {
    background-image: url('../img/header/art_main.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-origin: border-box;
    height: 100vh;
}

@media (max-width : 768px){
    .home {
        background-image: url('../img/header/art_main_app.jpg');
    }
}
