.mainContent {
    height: 100vh;
    display: inline-table;
}

.art__list {
    width: 100%;
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
    display: contents;
}

.artList_box {
    background-repeat: no-repeat;
    display: inline-block;
    margin: 55px 40px;
    background-color: #000;
    overflow: hidden;
}
    
.artList {
    background-size: contain;
    background-position: center;
    width: 480px;
    height: 480px;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.artList:hover{
    transform: scale(1.2);
}

.art__back {
    background-image: url('../img/content/art13.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.art__back__text {
    font-size: 50px;
    font-weight: 700;
    color: rgba(255,255,255,.75);
    text-decoration: none;
    position: relative;
    margin-right: 25%;
    margin-top: 29%;
    text-shadow:6px 2px 8px grey;
}

@media (max-width : 768px){
    .mainContent {
        width: 100%;
    }

    .art__list {
        float: none;
    }

    .artList {
        margin: 0;
        margin-top: unset;
        height: 400px;
        background-color: unset;
    }

    .artList_box{ 
        margin: 0;
    }

    .art__back {
        height: 400px;
    }

    .art__back__text {
        visibility: hidden;
    }
}



