.mainContent {
    height: 100vh;
    display: inline-table;
}

.art__list {
    width: 100%;
    float: left;
    margin-top: 50px;
    margin-bottom: 50px;
}

.artList {
    background-size: contain;
    background-position: center;
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 30px;
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    background-color: #000;
}

.artList:hover span {
    animation: visi 3s forwards;
}

@keyframes visi {
    0% {
        visibility: hidden;
        opacity: 0.2;
    }

    100% {
        visibility: visible;
    }
}

.artList_span{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    border: 2px solid black;
}

.artList span {
    font-size: 20px;
    font-weight: 700;
    background-color: white;
    padding: 10px;
    border-radius: 4px;
}

@media (max-width : 768px){
    .mainContent {
        width: 100%;
    }

    .art__list {
        float: none;
        margin-top: unset;
    }

    .artList {
        margin: 0;
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}

