.QNAContent {
  height: 100vh;
  justify-content: center;
  display: flex;
  align-items: center;
}

.QNA__box {
  width: 70%;
  height: 750px;
  background-color: white;
  margin-top: 70px;
}

.QNA__box__top {
  width: 80%;
  padding: 20px;
  display: inline-block;
  border-bottom: 2px double #535353;
  margin-top: 20px;
}

.QNA__box__top span:before {
  position: absolute;
  top: 20px;
  left: 0;
  display: block;
  width: 10px;
  height: 12px;
  background: #ed1a3b;
  content: '';
}
.QNA__box__top span {
  position: relative;
  color: #535353;
  font-size: 35px;
  line-height: 35px;
  padding: 5px 0 20px 22px;
}

.QNA__box__body {
  height: 400px;
  width: 100%;
}

.QNA__box__about {
  height: 80px;
  margin: 50px;
  width: 40%;
  text-align: left;
  border-bottom: 1px solid #535353;
  margin-left: 30%;
}

.QNA__box__link {
  text-decoration: none;
  color: #535353;
  font-size: 35px;
}
.QNA__box__link:hover {
  color: lightsalmon;
  font-weight: 500;
}
.QNA__box__bottom {
  height: 130px;
  width: 50%;
  border: 3px solid #c9c9c9;
  margin-left: 25%;
  justify-content: center;
  display: flex;
}

.QNA__box__link__bottom {
  font-size: 20px;
  text-decoration: none;
}

.qna_img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .QNA__box {
    margin-top: 100px;
    height: 500px;
  }

  .QNA__box__link {
    font-size: 20px;
  }

  .QNA__box__body {
    height: 250px;
  }

  .QNA__box__about {
    width: 80%;
    margin-left: 10%;
    height: 50px;
    margin: 40px;
  }

  .QNA__box__bottom {
    width: 80%;
    margin-left: 10%;
    height: 80px;
  }

  .qna_img {
    width: 25px;
    height: 25px;
  }

  .QNA__box__link__bottom {
    font-size: 15px;
  }
}
